<!Doctype html>

<html>
	
<body>
	<form method="post">
		{% csrf_token %}
		Enter the type: <input type="text" name="type"> 
		<input type="submit" value="submit" >
	</form>
	{{message}}
	<br><br><br>
	The list below tells the meaning of each input. The number is the input 
	<br><br> 1 :  Test goHome without signin 
	<br><br> 2 : Test goHome without signout 
	<br> <br> 3 : Test chatApp
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
	<br> <br>
</body>
	
</html>